/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Enable these styles if you wish to go into a grid layout. */

body{
	background-color:#FD482F;
}
ul#images li {
    width: 220px;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 10px;
	margin: 50px;
	background-color: #FFD700;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.placeholder{
	background-color: #FD482F;
}

.searchControle{
	width:200px;
	text-align: center;
	margin-left: 400px;
	margin-top: 100px;
}

ul#images li button {
    display: inline-block;
}



/*
--- End of grid layout styles. */












